.text-center {
    text-align: center;
}

.text-white {
    color: white;
}

.bold {
    font-weight: bold;
}

.reasons-box {
    background-color: chocolate;
}

#coffee-box {
    background-color: brown;
}

#tea-box {
    background-color: #6f4e37;
}

#cold-drinks-box {
    background-color: chocolate;
}